h4{
text-align: center;
}

.topnav {
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 0;
}
.topnav a{
text-decoration: none;
color: white;
}
.logo{
margin-top: 5px;
margin-left: 5px;
font-family: 'MuseoModerno', cursive;
font-size: 24px;
}
.menupos{
  min-width: 100px;
  min-height: 30px;
  display: flex;
  justify-content: flex-end;
   border-bottom: 1px solid gray;
   border-radius: 10px;
}
.topnav a hover{
color: rgb(243, 197, 197);
}
.logoContainer{
display: flex;
align-self: stretch;
}
.buttonContainer{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(238, 171, 144);
font-size: 14px;
}
.buttonContainer span{
margin: 10px;
font-weight: bold;
}
button{
font-size: 20px;
margin: 10px;
background-color: red;
color: white;
}
button a{
color: white;
text-decoration: none;
}

.mobileMenu{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.topnav img{
padding-top: 3px;
padding-right: 3px;
width: 40px;
height: 40px;
}

.mobileMenu a{
font-size: 24px;
margin: 10px;

}
.myLinks{
display: none;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}
.Main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.MainContainer{
margin-top: 10px;
border-radius: 2px;
border-bottom: 1px solid rgb(214, 214, 214);
}
.ArrowsContainer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.ArrowsCenterContainer{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.DetailsContainer{
margin: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.InfoContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.description{
padding: 10px;
font-family: 'MuseoModerno', cursive;
font-size: 16px;
text-align: center;
}
.arrow{
width: 120px;
height: 120px;
cursor: pointer;
}
label{
font-size: 20px;
padding: 10px;
}
.form-check{
margin: 10px;
}
.form-group{
display: flex;
flex-direction: column;
justify-content: center;
}
form{
border-radius: 10px;
border: 1px solid rgb(219, 219, 219);
margin: 5px;
}
input{
max-width: 20vw;
}
@media only screen and (max-width: 900px) {

.topnav img{
margin: 10px;
width: 30px;
height: 30px;
}

.MainImage{
  width: 80vw;
  height: 60vw;
  margin:20px;
  box-shadow: 11px 7px 10px -3px rgba(0,0,0,0.35);
}
.arrow{
width: 60px;
height: 60px;
}
label{
font-size: 16px;
padding: 5px;
}
}
@media only screen and (max-width: 600px) {
form{
min-width: 44%;
}
.DetailsContainer{
width: 100vw;
}
.form-group{
  width: 90vw;
margin: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 2px;
}
}

