
/* from here code to get adapted for the mobile menu  */


.topnav {
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CallNow{
background-color: red;
color: white;
}

.mobileMenu{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.mobileMenu img{
padding-top: 3px;
padding-right: 3px;
width: 40px;
height: 40px;
}
.myLinks img{
padding-top: 3px;
padding-right: 3px;
width: 40px;
height: 40px;
}
.mobileMenu a{
border-bottom: solid 1px white;
font-size: 24px;
margin-top: 10px;
margin-bottom: 10px;
}
.myLinks{
display: none;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}

@media only screen and (max-width: 600px) {
.mobileMenu img{
padding-top: 3px;
padding-right: 3px;
width: 30px;
height: 30px;
}
.myLinks img{
padding-top: 3px;
padding-right: 3px;
width: 30px;
height: 30px;
}
}
.Main{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-start;
}
/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}
/* ende mobile menu */


/* ab hier scroll to top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  /*border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orangered; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 4px 8px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 3vw; /* Increase font size */
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

#myBtn:hover {
  background-color: rgb(255, 1, 1); /* Add a dark-grey background on hover */
    border-right: 0px solid white;
  border-bottom: 0px solid white;
    border-left: 2px solid white;
  border-top: 2px solid white;
}
/* ende scroll to top */
/* ab hier sticky menu */

.topcon {
  padding: 10px;
}

.navigaion {
  background: white;
    position: fixed;
  z-index: 2;
  height: 55px;
}

.main {
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sticky + .main {
  /*padding-top: 102px;*/
  padding-top: 20px;
}
/* ende sticky menu */


